@import "./block/header.css";
@import "./block/main_page.css";
@import "./block/reviews.css";
@import "./block/benefits.css";
@import "./block/order.css";
@import "./block/footer.css";
/* @media screen and (max-width: 767px) {
  ...
} */
body {
  font-family: "Playfair Display";
  font-style: normal;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
*h2 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
}
