.benefits {
  background: url(../../img/backgrund.png) center/cover no-repeat;
  padding-bottom: 105px;
  padding-top: 105px;
  animation: pulse 10s;
}
.benefits-lists {
  border: 5px solid #8e32c6;

  height: 490px;
 
  padding-left: 0px;
}
.benefits-item{
  height: 346px;
  border-right: 1px solid #fff;
  padding-right: 50px;
}
.benefits-item-none{
  height: 346px;
  border-right: 0 solid #fff;
  padding-right: 50px;
}
.benefits-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
}
.benefits-lists {
  list-style-type: none;
}
.benefits-lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.benefits-list {
  border-right: 1px solid #fff;
  padding-right: 75px;
}
