header {
  background-color: #012d63;
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;
}
header {
  height: 93px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.header_block {
  display: flex;
  gap: 90px;
  align-items: center;
}

.nav-lists {
  width: 881px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.nav-lists {
  list-style-type: none;
}
.nav-item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #c7c7c7;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  color: #ffffff;
}
.header-language a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #c7c7c7;
}
.header-language {
  gap: 30px;
  display: flex;
}
