.order {
  background: url(../../img/backgraund-order.png) center/cover no-repeat;
  padding-bottom: 105px;
  padding-top: 105px;
}

.title {
  font-weight: 200;
  font-size: 46px;
  line-height: 48px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
}

input {
  color: #959595;
  font-size: 24px;
  font-family: Roboto;
  border-radius: 50px;
  background: #fff;
  width: 690px;
  height: 60px;
  border: 0;
}

.inpuut {
  border-radius: 50px;
  background: #fff;
 
  border: 0;
  width: 580px;
  height: 50px;
}

.btn {
  border-radius: 16px;
  width: 248px;
  height: 68px;
  background: #8e32c6;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

}

.cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}