.reviews {
  background: url(../../img/backgraund-reviews.png) center/cover no-repeat;
}
.reviews-bg {
  background: url(../../img/цветы.png) left bottom no-repeat;
}
hr {
  width: 1580px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  height: 2px;
}
.flover {
  width: 340px;
  height: 380px;
  flex-shrink: 0;
}
.reviews h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  font-size: 46px;
  line-height: 48px;
  text-align: center;
  padding: 25px;

  color: #ffffff;
}
.reviews p {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
}
.reviews h4 {
  color: #d8d8d8;
  font-size: 15px;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.reviews h6 {
  color: #d8d8d8;
  font-size: 15px;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.revis {
  list-style-type: none;
}
.revis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 114px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.reviews h5 {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
  padding: 0px 14px 0 14px;
}
.revi-list p {
  padding: 0px 14px 0 14px;
}
.revi-list-grand p {
  padding: 0px 14px 0 14px;
}
.revi_list p {
  padding: 0px 14px 0 14px;
}
.revi-list {
  margin-right: 10px;
  flex: 1;
  transition: all 0.3s ease;
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}
.revi-list-grand {
  margin-right: 10px;
  flex: 1;
  transition: all 0.3s ease;
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}
.revi_list {
  flex: 1;
  transition: all 0.3s ease;
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}
.revi-list:hover {
  flex: 2;
}
.revi-list-grand:hover {
  flex: 2;
}
.revi_list:hover {
  flex: 2;
}

.sochial {
  padding: 0px 14px 0 14px;
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.tecst {
  padding: 10px;
}
/* .gallery{

  width: 100%;
  height: 70vh;
  overflow: hidden;
} */
