.header {
  background-color: $background-color_1;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 93px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;

  &__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__list {
    gap: 30px;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  &__item {
    a {
      font-family: $font-family_1;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      color: $color_1;
      text-decoration: none;
      &:hover {
        color: $color_2;
      }
    }
  }
  &__language {
    a {
      font-family: $font-family_1;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      text-decoration: none;
      color: $color_1;
    }
    gap: 30px;
    display: flex;
  }
}
