.order {
  background: url(../../img/backgraund-order.png) center/cover no-repeat;
  padding: 20px 0 35px 0;

  &__title {
    font-weight: 200;
    font-size: 46px;
    line-height: 48px;
    text-align: center;
    padding: 20px 33px;
    margin: 0;
    display: flex;
    justify-content: center;
    color: $color_2;
    @media (max-width: 480px) {
      font-size: 36px;
    }
        @media (max-width: 768px) {
      font-size: 40px;
    }
  }
  &__btn {
    @include button;
    margin: 0 auto;
    display: block;

    @media (max-width: 480px) {
      width: 212px;
      height: 51px;
    }
        @media (max-width: 768px) {
          width: 220px;
          height: 55px;
    }
  }
  &__input {
    color: $color_3;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    width: 680px;
    height: 30px;
    @media (max-width: 480px) {
      width: 242px;
      height: 35px;
      font-size: 18px;
    }
        @media (max-width: 480px) {
          width: 255px;
          height: 40px;
          font-size: 22px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    padding-bottom: 19px;

    input {
      border-radius: 50px;
      background: #fff;
      border: none;
      outline: none;
      padding: 11px 0 11px 25px;
      @media (max-width: 480px) {
        width: 242px;
        height: 35px;
      }
      @media (max-width: 768px) {
        width: 347px;
        height: 40px;
      }
    }
    input[type="button"] {
      cursor: pointer;
      color: $color_3;
      font-size: 28px;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 480px) {
        display: none;
      }
          @media (max-width: 768px) {
      font-size: 20px;
    }
    }
  }
  &__email {
    color: $color_3;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    width: 690px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    padding: 13px 78px 13px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 480px) {
      justify-content: space-evenly;
      width: 256px;
    }
        @media (max-width: 480px) {
          justify-content: space-evenly;
          width: 427px;
    }
  }
}
