.preview {
  background: url(../../img/crosu.png) center/cover no-repeat;
  padding-bottom: 183px;
  padding-top: 94px;
  margin-top: 93px;
  @media (min-width: 320px) {
    margin: 0;
    width: 100%;
  }
  @media (min-width: 768px) {
  }
  &__subtitle {
    @include subtitle(58px);
  }
  &__title {
    @include title(36px);
    margin-bottom: 0;
    margin-top: 0;
  }
  &__titel {
    @include subtitle(58px);
  }

  &__logo {
    &__subtitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    img {
      width: 178px;
      height: 86px;

      @media (min-width: 320px) {
        height: 72px;
        width: 96px;
      }
      @media (min-width: 768px) {
      }
    }
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    @include subtitle(48px);
    @media (min-width: 320px) {
      font-size: 24px;
    }
    @media (min-width: 768px) {
    }
  }
  &__descr {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 0px;
    color: $color_2;
  }
  &__btn {
    @include button;
    @media (max-width: 480px) {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 768px) {
    }
  }
}
